.unit-tag {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 20px; /* Adjust padding as needed */
    background-color: #4caf50; /* Green background color */
    color: #fff; /* White text color */
    border-radius: 8px; /* Rounded corners */
    font-weight: bold;
    width: 450px; /* Adjust width */
    height: 80px; /* Adjust height */
  }
  .lesson-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .fixed-image {
    width: 70px  ; /* Adjust the width of the star image */
    height: auto ; /* Maintain aspect ratio */
  }
  
  .lesson-buttons {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    margin-top: 20px; 
  }
  .lesson-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  
