.carousel {
  position: relative;
  width: 90%;
  /* max-width: 800px;  Adjust the maximum width */
  margin: 0 auto;
  overflow: hidden;
  background-color: #282828;
}

.slide {
  display: none;
  width: 100%;
  height: 400px; /* Adjust the height */
  background-size: cover;
  background-position: center;
  border-radius: 0.5em;
}

.slide img.slide-image {
    /* width: 200px;
    height: 200px; */
    border-radius: 50%; /* Make the image completely round */
    object-fit: cover; /* Maintain aspect ratio and cover the entire area */
    margin: 0 auto; /* Center the image horizontally */
    display: block;
  }

.slide-text {
  color: white;
}

.active {
  display: block;
}

.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: black;
}
